/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: hsl(0deg 0% 90%);
}
.full-width {
  width: 100%;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cdk-drag-handle {
  cursor: grab;
}

.cdk-drag-handle:active {
  cursor: grabbing;
}

.mat-list-base
  .mat-list-option.mat-list-option
  .mat-list-item-content-reverse
  div.mat-list-text {
  padding: 0;
}
